{% extends "base-non-connecte.html.twig" %}

{% block title %}Books&amp;Co | Connexion
{% endblock %}

{% block main %}

	<body class="bg-white">

		<div class="flex bg-white items-center">

			<div class="bg-no-repeat bg-right bg-cover max-w-max h-auto overflow-hidden">
				<img src="{{ asset('/assets/img/illustrations/') }}login.png" alt="Login image">
			</div>
			<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">

				<div class="text-center p-0 font-sans">

					<h1 class="text-blue text-3xl font-medium font-cursive">Je me connecte</h1>
					<h2 class="p-1 text-green">Connectez-vous pour accéder à votre compte !</h2>
				</div>
				<form method="post" class="p-0">

					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté en tant que
							{{ app.user.username }},
							<a href="{{ path('app_logout') class="text-sm text-pink " }}">Se déconnecter</a>
						</div>
					{% endif %}

					<div class="mt-5 flex justify-between items-center">
						<label for="inputPseudo" class="w-1/2">Mon pseudo</label>
						<input type="text" class="block rounded-full w-full p-2 bg-grey focus:outline-none focus:border-transparent " value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus>
					</div>
					<div class="mt-5 flex justify-between items-center">
						<label for="inputPassword" class="w-1/2">Mon mot de passe</label>
						<input type="password" class="block rounded-full p-2 w-full bg-grey focus:outline-none focus:border-transparent" name="password" id="inputPassword" class="form-control" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="flex justify-end items-center w-full mt-10">
						<a href="{{ path('app_login') }}" class="inline-block text-sm text-grey-dark italic hover:underline">Vous n'avez pas de compte ?</a>
						<button type="submit" class="inline-flex ml-4 custom-btn items-center focus:outline-none text-base mt-4 md:mt-0 text-white">Connexion</button>
					</div>
				</form>
			</div>
		</div>
	</body>
{% endblock %}
