{% extends 'base.html.twig' %}

{% block title %}
{% if app.request.attributes.all._route == "lending_read"%}
Mes prêts
{% elseif app.request.attributes.all._route == "borrowing_read" %}
Mes emprunts
{% endif %}
{% endblock %}

{% block main %}
    <div>
    <div class="flex flex-col flex-grow h-screen">
        {#--CHAT HEADER--#}
        <div class="flex flex-row {{ app.request.attributes.all._route =="borrowing_read" ? 'justify-center' : 'justify-between' }} items-center w-full h-32 pb-4 pt-4 px-8">
            <div class="">
            </div>
        {#--PAGE TITLE--#}
            <div class="text-center">
                <h1 class="font-cursive text-3xl">Ma demande {{ app.request.attributes.all._route == "lending_read" ? 'prêt' : 'emprunt' }} du livre "{{ lendingData.usersBook.book.title }}"</h1>
                <h2 class="">Un livre prêté par <span class="">{{ lendingData.usersBook.user.pseudo }}</span></h2>

                <div class="pt-3">
                    Status du prêt : 
                        {% if (lendingData.status == 0) %}
                            <span class ="bg-yellow w-4 px-4 py-2 text-center rounded-full focus:outline-none md:text-sm text-blue">En attente</span>
                        {% elseif (lendingData.status == 1) %}
                            <span class ="bg-pink w-4 px-4 py-2 text-center rounded-full focus:outline-none md:text-sm text-white">En prêt</span>
                        {% else %}
                            <span class ="bg-grey w-4 px-4 py-2 text-center rounded-full focus:outline-none md:text-sm text-blue">Clôturé</span>
                        {% endif %}      
                </div>
            </div>
        {# SMALL BUTTON FOR CHANGING THE STATUS #}
            {% if app.request.attributes.all._route == "lending_read"%}
            <div>
                <div class="flex justify-center">
                    <div x-data="{ dropdownOpen: false }" class="relative my-32">
                    <button @click="dropdownOpen = !dropdownOpen" class="relative z-10 block rounded-md p-2 focus:outline-none">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>

                    <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                    <div x-show="dropdownOpen" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
                        <p class="block px-4 py-2 text-sm">Modifier le statut du prêt en :</p>
                        {% if lendingData.status == 0 %}
                        <a href="#" class="block px-4 py-2 text-sm capitalize text-yellow-dark hover:bg-blue hover:text-white">
                        Prêté
                        </a>
                        {% endif %}
                        <a href="#" class="block px-4 py-2 text-sm capitalize text-yellow-dark hover:bg-blue hover:text-white">
                        Clôturée
                        </a>
                    </div>
                    </div>
                    </div>
            </div>
            {% endif %}
        </div> 


        {# CHAT BODY #}
        <div class="w-full flex-grow overflow-y-scroll scrollable-element">
            {% for message in lendingData.linkedWith %}
                {% if message.sender != app.user %}
                    <div class="flex items-end mt-5 mb-5">
                        {# avatar #}
                        <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                            <img class="rounded-full w-11 flex mr-4" src="{{ lendingData.usersBook.user.avatar != null ? (asset("assets/img/uploads/user_avatar/")) ~ lendingData.usersBook.user.avatar : asset("assets/img/illustrations/avatar.png") }}" alt="user avatar">
                        </div>
                        {# message body #}
                        <div class="flex items-center rounded-t-lg rounded-br-lg bg-green-light">
                            {# message content #}
                            <div class="w-max-2/5 p-5">
                                <div class="text-base">{{ message.content }}
                                </div>
                                <div class="mt-1">
                                <small class="text-xs">le {{ message.createdAt|format_datetime(pattern="dd/MM/YYYY' à' hh:mm:ss") }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                        <div class="flex justify-end items-end mb-5 mt-5">
                            {# message body #}
                            <div class="flex items-center rounded-t-lg rounded-bl-lg bg-yellow-light">
                                {# message content #}
                                <div class="w-max-2/5 p-5">
                                    <div class="text-base">{{ message.content }}
                                    </div>
                                    <div class="mt-1">
                                    <small class="text-xs">le {{ message.createdAt|format_datetime(pattern="dd/MM/YYYY' à' hh:mm:ss") }}</small>
                                    </div>
                                </div>
                            </div>
                            {# avatar #}
                            <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                <img class="rounded-full w-11 flex" src="{{ app.user.avatar != null ? (asset("assets/img/uploads/user_avatar/")) ~ app.user.avatar : asset("assets/img/illustrations/avatar.png") }}" alt="user avatar">
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
   
        </div> 
        {# CHAT FOOTER#}
        <div class="flex w-full h-14 border-t-2 border-grey py-4 mb-2">
            <div class="w-11/12">
                {{ form_start(sendMessageForm) }}
        		{{ form_label(sendMessageForm.content, null, {
                    'label_attr': {'class': 'hidden'}    
                }) 
                }}
                {{ form_widget(sendMessageForm.content, {
                'attr': {'class': 'w-11/12 text-area-resize py-auto focus:outline-none',
                        'placeholder' : 'Insultez-lui sa grand-mère',}
                })  
                }}
            </div>
            <div class="w-1/12 py-auto text-center">
                <button type="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
                {{ form_end(sendMessageForm) }}
        </div> 
    </div>
</div>

{% endblock %}
