{% extends 'base.html.twig' %}

{% block title %}Hello LendingController!{% endblock %}

{% block main %}
    <h1>Ma demande d'emprunts du livre {{ lendingData.usersBook.book.title }} au près de {{ lendingData.usersBook.user.pseudo }}</h1>

    {# use lendingData.linkedWith to get an array of messages #}
    {% for message in lendingData.linkedWith %}
        <div class="{{ (message.sender == app.user ) ? 'droite' : 'gauche' }}">
            {{ message.content }}
            par {{ message.sender.pseudo }}
            à {{ message.createdAt|format_datetime(pattern="hh:mm:ss', le' dd/MM/YYYY") }}
        </div>
    {% endfor %}

    <div>
        status du prêt :
        {% if (lendingData.status == 0) %}
            en attente
        {% elseif (lendingData.status == 1) %}
            en prêt
        {% else %}
            archivé
        {% endif %}
    </div>
        <form action="{{ path('lending_action', {'id': lendingData.id, 'action': 'waiting' }) }}" method="post" class="d-inline">
            <button class="btn btn-danger">Mettre en attente</button>
            <input type="hidden" name="_method" value="PATCH">
        </form>
        <form action="{{ path('lending_action', {'id': lendingData.id, 'action': 'lended' }) }}" method="post" class="d-inline">
            <button class="btn btn-danger">Mettre en prêt</button>
            <input type="hidden" name="_method" value="PATCH">
        </form>
        <form action="{{ path('lending_action', {'id': lendingData.id, 'action': 'archive' }) }}" method="post" class="d-inline">
            <button class="btn btn-danger">Archiver</button>
            <input type="hidden" name="_method" value="PATCH">
        </form>
    <div>
        {{ form_start(sendMessageForm) }}
        {{ form_end(sendMessageForm) }}
    </div>
{% endblock %}
