{% extends 'base.html.twig' %}

{% block title %}Livre
{% endblock %}

{% block main %}
<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
	<div class="text-center p-0 font-sans">

		<h1 class="text-blue text-3xl font-medium font-cursive">Ajout d'un livre</h1>
		<h2 class="p-1 text-green">Ajoutez un livre à votre bibliothèque</h2>
		<h3 class="p-1 text-green italic text-sm">
			* Les champs munis d'un astérisque sont obligatoires</h3>
	</div>
	<div>
		{{ form_start(searchForm) }}
		<div class="mt-5 flex justify-between items-center mb-5">
			{{ form_label(searchForm.isbn, null, {
                    'label': 'ISBN*',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
			{{ form_widget(searchForm.isbn, {
                    'attr': {'class': 'block rounded-full w-full p-2 bg-grey focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent'}    
                })  
                }}
		</div>
		<div class="flex justify-between items-center w-full mt-10">
			<p></p>
			<button type="submit" class="bg-blue h-10 px-6 md:px-8 py-2 rounded-full items-center focus:outline-none text-xs md:text-sm text-white">Rechercher</button>
		</div>
		{# {{ form_row(searchForm.isbn) }} #}
		{% if  searchForm.book is defined %}
			<div class='{{ error ? 'hidden' : '' }}'>
				<div class="text-center text-2xl bold mt-5 mb-5">
					{{ form_widget(searchForm.book) }}
					{{ form_label(searchForm.book, null, {
                        'label_attr' : {'class' : 'text-pink'}
                    }) }}
				</div>
				<p class="text-center text-xs mt-5">Ça roule ! On s'occupe de remplir les champs qu'il faut pour vous !</p>
				<div class="flex justify-between items-center w-full mt-10">
					<p class="inline-block text-center">Ce n'est pas le livre que vous recherchez ? Vérifiez bien l'isbn !</p>
					<button type="submit" class="bg-blue h-10 px-6 md:px-8 py-2 rounded-full items-center focus:outline-none text-xs md:text-sm text-white">Ajouter</button>
				</div>
			</div>
		{% endif %}
		{{ form_end(searchForm) }}
		{% if app.request.method == 'POST' and error == 'Ce livre n\'existe pas, ajoutez le !' %}
            <div>
                {{ error }}
                {{form_start(bookForm)}}
                <div class="mt-5 flex justify-between items-center">
				{{ form_label(bookForm.isbn, null, {
                    'label': 'ISBN*',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
				{{ form_widget(bookForm.isbn, {
                    'attr': {'class': 'block rounded-full w-full p-2 bg-grey focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent'}    
                })  
                }}
			</div>
            <div class="mt-5 flex justify-between items-center">
				{{ form_label(bookForm.title, null, {
                    'label': 'Titre*',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
				{{ form_widget(bookForm.title, {
                    'attr': {'class': 'block rounded-full w-full p-2 bg-grey focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent'}    
                })  
                }}
			</div>
             <div class="mt-5 flex justify-between items-center">
				{{ form_label(bookForm.author, null, {
                    'label': 'Auteur*',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
				{{ form_widget(bookForm.author, {
                    'attr': {'class': 'block rounded-full w-full p-2 bg-grey focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent'}    
                })  
                }}
			</div>
             <div class="mt-5 flex justify-between items-center">
				{{ form_label(bookForm.editor, null, {
                    'label': 'Editeur',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
				{{ form_widget(bookForm.editor, {
                    'attr': {'class': 'block rounded-full w-full p-2 bg-grey focus:outline-none focus:ring-1 focus:border-transparent'}    
                })  
                }}
			</div>
            <div class="mt-5 flex justify-between items-center">
			{{ form_label(bookForm.coverFile, null, {
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
			<div class="flex items-center justify-center bg-grey-lighter ml-6">
				<label class="flex flex-col items-center bg-pink text-white rounded-lg tracking-wide uppercase border border-pink cursor-pointer hover:bg-blue hover:text-white">
					<svg width="50" height="50" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
						<path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"/>
					</svg>
					<span class="text-xs p-2">Selectionner un fichier</span>
					{{ form_widget(bookForm.coverFile, {
                    'attr': {'class': 'hidden'}    
                })   }}
				</label>
			</div>
            </div>

            
            <div class="mt-5 flex justify-between items-center">
				{{ form_label(bookForm.year, null, {
                    'label': 'Année',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
				{{ form_widget(bookForm.year, {
                    'attr': {'class': 'block rounded-full w-full p-2 bg-grey focus:outline-none focus:ring-1 focus:border-transparent'}    
                })  
                }}
			</div>
            <div class="mt-5 flex justify-between">
				{{ form_label(bookForm.description, null, {
                    'label': 'Description',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}
                
				{{ form_widget(bookForm.description, {
                    'attr': {'class': 'text-area-resize border-none rounded-lg w-full bg-grey h-40 text-base outline-none py-1 px-3 leading-6'}    
                })  
                }}
			</div>
            <div class="flex justify-between items-center w-full mt-10">
				<div></div>
				<button type="submit" class="custom-btn inline-block focus:outline-none text-base text-white">Ajouter</button>
			</div>
                {{form_end(bookForm)}}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
