{% extends 'base' ~ ((app.user) ? '' : '-non-connecte') ~ '.html.twig' %}

{% set book = usersBook.book %}

{% block title %}Books&amp;Co | Voir les détails d'un livre
{% endblock %}

{% block main %}

	<div class="flex flex-col items-center md:mt-10 lg:mt-0 ">
		<h1 class="text-4xl text-blue font-cursive text-center mx-2">{{ book.title }}</h1>
		<h2 class="pt-4 text-pink text-center mx-2">{{ book.author }}</h2>
	</div>
	<div class="flex lg:flex-nowrap mt-10 sm:ml-4 mb-4">
		<div class="flex flex-col lg:flex-row min-w-24">
			<img class="object-contain w-80 mx-auto" src="{{ book.cover != null ?  asset("assets/img/uploads/book_cover/") ~ book.cover : asset("assets/img/illustrations/book-cover.jpg") }}" alt="Couverture du livre">		
			<div class="px-4 rounded-lg mt-3 xl:mt-0  flex-grow">
				<div class="grid grid-cols-4 gap-y-2">
					<div class="font-semibold">Isbn</div>
					<div class="col-span-3">{{ book.isbn }}</div>
					<div class="font-semibold">Editeur</div>
					<div class="col-span-3">{{ book.editor }}</div>
					<div class="font-semibold">Année</div>
					<div class="col-span-3">{{ book.year }}</div>
				</div>
				<div class="mt-2">
					<div class="block font-semibold">Description</div>
					<div class="text-justify tracking-tight">{{ book.description }}</div>
				</div>
				<div>
				{% if app.user %}
					{% if app.user.slug == app.request.attributes.all['userSlug'] %}
						<div class="flex items-end justify-end mt-4 top-auto">
							<a href="{{ path('library_book_edit', {'userSlug': libraryUser.slug, 'slug': book.slug}) }}" class="bg-yellow-dark text-center font-semibold px-4 py-2 rounded-full hover:bg-pink hover:text-white mr-5">Modifier</a>
							<a href="{{ path('library_book_delete', {'userSlug': libraryUser.slug, 'slug': book.slug}) }}" class="bg-pink text-white text-center font-semibold px-4 py-2 rounded-full hover:bg-yellow-dark hover:text-blue mr-2">Supprimer</a>
						</div>
					{% elseif usersBook.isAvailable == true and isBorrowingableByUser %}
							<div class="flex items-end justify-end mt-4 top-auto">
								{{ form_start(form) }}
								{{ form_end(form) }}
							</div>
					{% else %}
						<div class="flex items-end justify-end mt-4 top-auto italic text-grey-dark">
							<p>Ce livre n'est pas disponible pour un prêt</p>
						</div>
					{% endif %}
				{% else %}
					<div class="flex items-end justify-end mt-4 top-auto italic text-pink">
						<a href="{{path('app_login')}}" class="hover:underline">Connectez vous pour emprunter ce livre !</a>
					</div>
				{% endif %}
				</div>
				<div class="flex items-end justify-end my-10 top-auto">
					<a href="{{ path('library_browse', {'userSlug': libraryUser.slug}) }}" class=" bg-green text-blue text-center font-semibold px-4 py-2 rounded-full hover:bg-blue hover:text-white mr-5">Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}