{% extends 'base.html.twig' %}

{% block title %}
	{{ book.title }}
{% endblock %}

{% block main %}

	<div class="flex margin w-3-5">
		<img
		class="object-cover rounded-lg book-cover" src="{{ asset("assets/img/uploads/book_cover/") ~ book.cover }}" alt="bag">
		{# {{ dump(book) }} #}
		<div class="md:w-2/3 px-4 rounded-lg">
			<div class="flex flex-col items-center">
				<h1 class="text-4xl text-blue font-cursive mb-2">{{ book.title }}</h1>
				<h2>Isbn :
					{{ book.isbn }}</h2>
			</div>
			<div clas="grid grid-cols-2">
				<div class="bg-pink">Auteur</div>
				<div class="bg-blue text-white">{{ book.author }}</div>
				<div class="">Editeur</div>
				<div class="">{{ book.editor }}</div>
				<div class="">Année</div>
				<div class="">{{ book.year }}</div>
				<div style="">Description</div>
				<div class="text-justify">{{ book.description }}</div>
			</div>
		<div class="">
			{% if app.user.slug == app.request.attributes.all['userSlug'] %}
				<div class="flex items-end justify-end mt-4 top-auto">
					<a href="{{ path('library_book_edit', {'userSlug': libraryUser.slug, 'slug': book.slug}) }}" class="bg-blue text-white px-4 py-2 rounded hover:underline mr-5">modifier</a>
					<a href="{{ path('library_book_delete', {'userSlug': libraryUser.slug, 'slug': book.slug}) }}" class="bg-grey text-blue px-2 py-2 rounded-md mr-2">supprimer</a>
				</div>
			{% endif %}
			{% if app.user.slug != app.request.attributes.all['userSlug']  %}

				<div class="flex items-end justify-end mt-4 top-auto">
					{{ form_start(form) }}
					{{ form_end(form) }}
				</div>
			{% endif %}
		</div>
		</div>
	</div>
</div>{% endblock %}
