{% extends 'base.html.twig' %}


{% block main %}

<h1 class="text-3xl font-medium font-cursive text-center">Demande d'emprunt de "{{book}}"</h1>
<h3 class="p-1 text-green text-center">Vous souhaitez demander le prêt du livre de <span class="text-pink italic">{{userPseudo}}</span></h3>

<div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
    {{ form_start(borrowingForm) }}
    <div class="mt-5 flex justify-between">
				{{ form_label(borrowingForm.message, null, {
                    'label': 'Message',
                    'label_attr': {'class': 'w-1/2'}    
                }) 
                }}

        {{ form_widget(borrowingForm.message, {
            'attr': {'class': 'text-area-resize border-none rounded-lg w-full bg-grey h-40 text-base outline-none py-1 px-3 leading-6'}    
        })  
        }}
  
    </div>
        <div class="flex justify-between items-center w-full mt-10">
            <div></div>
            <button type="submit" class="custom-btn inline-block focus:outline-none text-base text-white">Envoyer</button>
        </div>
          {{ form_rest(borrowingForm) }}
</div>
{% endblock %}
