{% extends 'base.html.twig' %}

{% block title %}Books&amp;Co | Demande d'emprunt
{% endblock %}

{% block main %}

    <h1>Ma demande d'emprunts du livre {{ lendingData.usersBook.book.title }} auprès de {{ lendingData.usersBook.user.pseudo }}</h1>
    {# use lendingData.linkedWith to get an array of messages #}
    {% for message in lendingData.linkedWith %}
        <div class="{{ (message.sender == app.user ) ? 'droite' : 'gauche' }}">
            {{ message.content }}
            par {{ message.sender.pseudo }}
            à {{ message.createdAt|format_datetime(pattern="hh:mm:ss', le' dd/MM/YYYY") }}
        </div>
    {% endfor %}
    <div>
        status du prêt :
        {% if (lendingData.status == 0) %}
            en attente
        {% elseif (lendingData.status == 1) %}
            en prêt
        {% else %}
            archivé
        {% endif %}
    </div>
    <div>
        {{ form_start(sendMessageForm) }}
        {{ form_end(sendMessageForm) }}
    </div>
{% endblock %}
