<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Books&amp;Co
			{% endblock %}
		</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>

		{#FONTS#}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/0434b5e439.js" crossorigin="anonymous"></script>
		<script src="{{ asset("assets/js/city.js") }}"></script>
		<script src="{{ asset('assets/js/county.js') }}"></script>
		<script src="{{ asset('assets/js/countyAndCityApp.js') }}"></script>

		{#CSS#}
		{{ encore_entry_link_tags('app') }}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="h-full m-0 p-0">
		<div class="container mx-auto flex flex-col min-h-screen relative">

			{#--Header--#}
			<div class="fixed mt-0 container z-50">
				{% if app.user %}
					{% include 'header-co.html.twig' %}
				{% else %}
					{% include 'header.html.twig' %}
				{% endif %}
			</div>

			<div class="w-full pt-28 pb-44">
				{#--Navigation -- only when connected#}
				{% if app.user %}
					{#--Some tests to set the wanted color used in nav and some pages#}
					{% if app.request.attributes.all._route == "borrowing_form" or app.request.attributes.all._route == "borrowing_browse" or app.request.attributes.all._route == "borrowing_read" %}
						{% set color_wanted = 'yellow-dark' %}
						{% set nav_button = 'green' %}
					{% elseif app.request.attributes.all._route == "lending_form" or app.request.attributes.all._route == "lending_browse" or app.request.attributes.all._route == "lending_read" %}
						{% set color_wanted = 'green' %}
						{% set nav_button = 'pink' %}
					{% else %}
						{% set color_wanted = 'pink' %}
						{% set nav_button = 'yellow-dark' %}
					{% endif %}
					<div class="fixed ">
						{% include 'nav.html.twig' %}
					</div>
					{#--Main--#}
					<div class="w-3/4 float-right"> 
						{% block main %}{% endblock %}
					</div>
				{% endif %}
			</div>

			{#--Footer--#}
			<div class="position w-full">
				{% include 'footer.html.twig' %}
			</div>
		
		</div>


	</body>

</html>