<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Books&amp;Co
			{% endblock %}
		</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>

		{#FONTS#}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">

		{#CSS#}
             {{ encore_entry_link_tags('app') }}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container mx-auto">
			{% block header%}
				<header class="py-6">
					<div class="flex items-center justify-between flex-wrap">
						<a href=" {{ path('accueil_browse') }}"class="flex title-font font-medium items-center mb-4 md:mb-0">
							<img src="{{asset("assets/img/illustrations")}}/logo.svg" alt="Logo de BooksAndCo">
							<span class="font-cursive ml-3 text-xl logo text-pink">Books&amp;Co</span>
						</a>
						<div>
							<a href="{{ path('app_register') }}" class="text-sm underline mr-1 hover:text-pink">Créer un compte</a>
						<a href="{{ path('app_login') }}"><button class="inline-flex rounded-full items-center bg-yellow font-semibold px-4 py-2 hover:bg-green bg-whitefocus:outline-none text-base mt-4 md:mt-0">Connexion</button></a>
						</div>						
						</div>
					</header>
			{% endblock %}

			{% block main %} {% endblock %}

			{% include 'footer.html.twig' %}			
		</div>
	</body>
</html>
