{% extends 'base.html.twig' %}

{% block title %}Ma bibliothèque
{% endblock %}


{% block main %}

	{# ----------- Page title --------------#}
	<div class=" w-full inset-0">
		<h1 class="text-blue font-cursive text-3xl flex justify-center mt-10">Bibliothèque de {{ user.pseudo }} </h1>
		<p class="text-yellow-dark text-center mt-2">
			<i class="fas fa-map-marker-alt mr-3"></i>
			{{ user.city }}
		</p>
	</div>		

	{# ------------If library is empty --------------#}
	{% if usersBooks == null %}

		<p class="text-center text-pink italic mt-8">Oups ! Cette bibliothèque est vide !</p>
		{# if the user connected is equal to the library's user AND if usersBooks is null #}
		{% if app.user.slug == app.request.attributes.all['userSlug'] %}
			<div class="items-center mb-10">
				<a href="{{ path('library_book_add', {'userSlug': app.user.slug}) }}" role="button" class="bg-pink hover:bg-yellow-dark text-white px-4 py-3 rounded-full">
					Ajouter un livre
				</a>
			</div>
			
		{% endif %}
	{% else %}

	{# ------------Library books --------------#}
	<div class="container px-5 py-24 mx-auto">
		{% for usersbook in usersBooks %}
				<div class="my-8 border-b-2 ">
					<div class="py-8 flex flex-wrap md:flex-nowrap">
						<div class="md:w-1/12 md:mb-0 mb-6 flex-shrink-0 mr-10 flex flex-col">
							<a href=""><img src="{{ usersbook.book.cover != null ?  asset("assets/img/uploads/book_cover/") ~ usersbook.book.cover : asset("assets/img/illustrations/book-cover.jpg") }}"></a>
						</div>
						<div class="md:flex-grow">
							<h2 class="text-2xl title-font mb-2 uppercase text-pink">
								<a href="">{{ usersbook.book.title }}</a>
							</h2>
							<p class="leading-relaxed">Auteur : {{ usersbook.book.author }}</p>
							<p class="italic">Editeur : {{ usersbook.book.editor }}</p>
							<p class="italic">ISBN : {{ usersbook.book.isbn }}</p>
						</div>
						<div class="">
							<a href="{{ path('library_book_read', {'userSlug': usersbook.user.slug, 'slug': usersbook.book.slug }) }}" class="bg-pink w-4 px-2 py-2 text-center rounded-full focus:outline-none md:text-sm text-white">Voir plus</a>
						</div>
					</div>
				</div>
			{% endfor %}
	</div>

	{# ------------Pagination --------------#}

	{% include "pagination.html.twig" %}
		
        {% endif %}
{% endblock %}
