{% extends 'base' ~ ((app.user) ? '' : '-non-connecte') ~ '.html.twig' %}

{% block title %}Books&amp;Co | Bibliothèque
{% endblock %}


{% block main %}

	{# ----------- Page title --------------#}
	{% if app.user %}
		<div class=" w-full inset-0 {{ (user.pseudo == app.user) ? '' : 'hidden'}}">
			<h1 class="text-blue font-cursive text-3xl flex justify-center">Mes livres </h1>
			<h2 class="text-pink text-center pt-4"> Retrouvez ici tous les livres de votre bibilothèque</h2>
			<div class="items-center mb-10 text-center mt-6">
				<a href="{{ path('library_book_add', {'userSlug': app.user.slug}) }}" role="button" class="bg-yellow-dark hover:bg-pink text-white font-semibold px-4 py-3 rounded-full">
					Ajouter un livre
				</a>
			</div>
		</div>	
		{#-- if the user is a visitor --#}	
		<div class=" w-full inset-0 {{ (user.pseudo == app.user) ? 'hidden' : ''}}">
			<h1 class="text-blue font-cursive text-3xl flex justify-center">Bibliothèque de {{ user.pseudo }} </h1>
			<h2 class="text-yellow-dark text-center mt-2">
				<i class="fas fa-map-marker-alt mr-3"></i>
				{{ user.city }}
			</h2>
		</div>
	{% else %}
		{#-- if the user is not connected --#}	
		<div class=" w-full inset-0">
			<h1 class="text-blue font-cursive text-3xl flex justify-center">Bibliothèque de {{ user.pseudo }} </h1>
			<h2 class="text-yellow-dark text-center mt-2">
				<i class="fas fa-map-marker-alt mr-3"></i>
				{{ user.city }}
			</h2>
		</div>
	{% endif %}

	{# ------------If library is empty --------------#}
	{% if usersBooks == null %}
	<section>
		<div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center mt-12">
			<i class="fas fa-heart-broken text-pink text-4xl mb-5"></i>
			<p class="leading-relaxed text-lg">Oups ! {{ (app.user == user.pseudo) ? 'Votre' : 'Cette'}} bibliothèque est vide !</p>
			<span class="inline-block h-1 w-10 rounded bg-blue mt-8 mb-6"></span>
		</div>
	</section>
	
	{% else %}

	{# ------------Library books --------------#}
	<section class="container px-5 py-12 mx-auto">
		{% for usersbook in usersBooks %}
				<div class="sm:my-8 mt-0 border-b-2 border-grey">
				<div class="flex flex-wrap sm:flex-nowrap lg:w-full items-center lg:justify-between">
					<h2 class="sm:text-2xl text-xl mb-2 uppercase text-pink pt-2 sm:w-3/4 w-full">
						<a href="{{ path('library_book_read', {'userSlug': usersbook.user.slug, 'slug': usersbook.book.slug }) }}">{{ usersbook.book.title }}</a>
					</h2>
					<div class="mb-2 ">
							{% if app.user == user.pseudo %}
								{% if usersbook.isAvailable == 0  %}
									<p class="text-green text-sm text-right"><i class="fas fa-bookmark mr-3"></i>Diponible au prêt</p>
								{% else %}
									<p class="text-yellow-dark text-sm text-right"><i class="far fa-bookmark mr-3"></i>En prêt ou en attente</p>
								{% endif %}
							{% endif %}
					</div>
				</div>
					<div class="sm:pb-8 pb-0 flex flex-wrap w-full sm:justify-between">
						<div class="sm:w-1/12 w-full sm:mb-0 mb-6 flex-shrink-0 sm:mr-10 mr-2 flex flex-col h-auto text-center">
							<a href="{{ path('library_book_read', {'userSlug': usersbook.user.slug, 'slug': usersbook.book.slug }) }}" class="max-w-xs place-self-center my-auto">
								<img src="{{ usersbook.book.cover != null ?  asset("assets/img/uploads/book_cover/") ~ usersbook.book.cover : asset("assets/img/illustrations/book-cover.jpg") }}" class="mx-auto ">
							</a>
						</div>
						<div class="flex-grow">
							<p class="leading-relaxed font-semibold text-center sm:text-left">
								Auteur : {{ usersbook.book.author }}
							</p>
							<p class="text-center sm:text-left">
								Editeur : {{ usersbook.book.editor }}
							</p>
							<p class="text-sm text-grey-dark italic text-center sm:text-left">
								ISBN :{{ usersbook.book.isbn }}
							</p>				
						</div>
						<div class="mb-6 sm:mb-0 mx-auto text-center w-full md:w-1/6 md:text-right lg:self-end">
							<button class="bg-pink font-semibold hover:bg-yellow-dark mt-4 px-4 py-2 rounded-full items-center text-center focus:outline-none text-sm text-white"><a href="{{ path('library_book_read', {'userSlug': usersbook.user.slug, 'slug': usersbook.book.slug }) }}" >Voir plus</a></button>
						</div>
					</div>

				</div>
			{% endfor %}
	</section>

	{# ------------Pagination --------------#}
	{% include "pagination.html.twig" %}
    {% endif %}
{% endblock %}