{% extends 'base' ~ ((app.user) ? '' : '-non-connecte') ~ '.html.twig' %}

{% block title %}Ma bibliothèque
{% endblock %}


{% block main %}

	{# ----------- Page title --------------#}
	{% if app.user %}
		<div class=" w-full inset-0 {{ (user.pseudo == app.user) ? '' : 'hidden'}}">
			<h1 class="text-blue font-cursive text-3xl flex justify-center">Mes livres </h1>
			<h2 class="text-pink text-center pt-4"> Retrouvez ici tous les livres de votre bibilothèque</h2>
			<div class="items-center mb-10 text-center mt-6">
				<a href="{{ path('library_book_add', {'userSlug': app.user.slug}) }}" role="button" class="bg-yellow-dark hover:bg-pink text-white font-semibold px-4 py-3 rounded-full">
					Ajouter un livre
				</a>
			</div>
		</div>	
		{#-- if the user is a visitor --#}	
		<div class=" w-full inset-0 {{ (user.pseudo == app.user) ? 'hidden' : ''}}">
			<h1 class="text-blue font-cursive text-3xl flex justify-center">Bibliothèque de {{ user.pseudo }} </h1>
			<h2 class="text-yellow-dark text-center mt-2">
				<i class="fas fa-map-marker-alt mr-3"></i>
				{{ user.city }}
			</h2>
		</div>
	{% else %}
		{#-- if the user is not connected --#}	
		<div class=" w-full inset-0">
			<h1 class="text-blue font-cursive text-3xl flex justify-center">Bibliothèque de {{ user.pseudo }} </h1>
			<h2 class="text-yellow-dark text-center mt-2">
				<i class="fas fa-map-marker-alt mr-3"></i>
				{{ user.city }}
			</h2>
		</div>
	{% endif %}

	{# ------------If library is empty --------------#}
	{% if usersBooks == null %}

		<p class="text-center text-pink italic mt-8">Oups ! Cette bibliothèque est vide !</p>
		{# if the user connected is equal to the library's user AND if usersBooks is null #}
		{% if app.user.slug == app.request.attributes.all['userSlug'] %}
			<div class="items-center mb-10">
				<a href="{{ path('library_book_add', {'userSlug': app.user.slug}) }}" role="button" class="bg-pink hover:bg-yellow-dark text-white px-4 py-3 rounded-full">
					Ajouter un livre
				</a>
			</div>
			
		{% endif %}
	{% else %}

	{# ------------Library books --------------#}
	<div class="container px-5 sm:py-24 py-16 mx-auto">
		{% for usersbook in usersBooks %}
				<div class="sm:my-8 mt-0 border-b-2 ">
					<h2 class="sm:text-2xl text-xl title-font mb-2 uppercase text-pink lg:hidden">
						<a href="">{{ usersbook.book.title }}</a>
					</h2>
					<div class="lg:py-8 pb-0 flex flex-wrap flex-nowrap ">
						<div class="lg:w-1/12 w-1/3 md:mb-0 mb-6 flex-shrink-0 sm:mr-10 mr-2 flex flex-col h-auto text-center">
							<a href="" class="max-w-xs place-self-center">
								<img src="{{ usersbook.book.cover != null ?  asset("assets/img/uploads/book_cover/") ~ usersbook.book.cover : asset("assets/img/illustrations/book-cover.jpg") }}" class="mx-auto ">
							</a>
						</div>
						<div class="flex-grow items-center">
							<h2 class="text-2xl title-font mb-2 uppercase text-pink lg:block hidden">
								<a href="">{{ usersbook.book.title }}</a>
							</h2>
							<p class="leading-relaxed sm:text-base text-sm lg:mt-0 mt-2">Auteur : {{ usersbook.book.author }}</p>
							<p class="italic sm:text-base text-sm lg:mt-0 mt-2">Editeur : {{ usersbook.book.editor }}</p>
							<p class="italic lg:text-base lg:block hidden">ISBN : {{ usersbook.book.isbn }}</p>
							<div class="lg:hidden mt-8">
							{% if app.user == user.pseudo %}
								{% if usersbook.isAvailable == 0  %}
									<p class="text-green"><i class="fas fa-bookmark mr-3"></i>Diponible au prêt</p>
								{% else %}
									<p class="text-yellow-dark"><i class="far fa-bookmark mr-3"></i>En prêt ou en attente</p>
								{% endif %}
							{% endif %}
							</div>
						</div>
						<div class="lg:visible invisible flex flex-col justify-between items-end">
							{% if app.user == user.pseudo %}
								{% if usersbook.isAvailable == 0  %}
									<p class="text-green text-right"><i class="fas fa-bookmark mr-3"></i>Diponible au prêt</p>
								{% else %}
									<p class="text-yellow-dark text-right"><i class="far fa-bookmark mr-3"></i>En prêt ou en attente</p>
								{% endif %}
							{% endif %}
							<button class="bg-pink font-semibold hover:bg-yellow-dark h-10 w-28 px-4 md:px-4 py-2 rounded-full items-center text-center focus:outline-none md:text-sm text-white"><a href="{{ path('library_book_read', {'userSlug': usersbook.user.slug, 'slug': usersbook.book.slug }) }}" >Voir plus</a></button>
						</div>
					</div>
					<div class="mb-6 mt-0 lg:hidden text-right">
						<button class="bg-pink font-semibold hover:bg-yellow-dark h-10 w-28 px-4 md:px-4 py-2 rounded-full items-center text-center focus:outline-none md:text-sm text-white"><a href="{{ path('library_book_read', {'userSlug': usersbook.user.slug, 'slug': usersbook.book.slug }) }}" >Voir plus</a></button>
					</div>
				</div>
			{% endfor %}
	</div>
	
	{# ------------Pagination --------------#}
	{% include "pagination.html.twig" %}
        {% endif %}
{% endblock %}
